.parent{
    padding: 16px 16px 16px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.child{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.spacebetween{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}


img{
    margin-left: 10px;
    margin-right: 10px;
}

/* If the screen size is 601px wide or more, */
@media screen and (min-width: 601px) {
    h2{
        font-size: 30px;
    }

    .heading{
        font-size: 30px;
    }

    .subheading{
        font-size: 20px;
    }
}

/* If the screen size is 600px wide or less,  */
@media screen and (max-width: 600px) {
    h2{
      font-size: 20px;
    }

    .heading{
        font-size: 20px;
    }

    .subheading{
        font-size: 20px;
    }
  }

  .material-icons.md-20 { font-size: 20px; }
  .material-icons.md-28 { font-size: 28px; }
  .material-icons.md-40 { font-size: 40px; }
  .material-icons.md-55 {
       font-size: 55px; 
       cursor: pointer;
    }

    .mat-slider-horizontal {
        width: 100%;
        cursor: pointer;
      }


img{
    margin-top: 16px;
}
 /* #progress_bar {
        border:1px solid #500012;
        margin:1em 0;
        cursor:pointer;
        background:#f2f2f2;
        width:100%;
        height:20px;
        display:inline-block;
        padding:0;
}
        
#bar {
        background:rgb(238, 70, 4);
        height:18px;
        display:inline-block;
        float:left;
        width:0%;
} */
  